@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://www.shutterstock.com/image-vector/back-school-concept-pupils-boys-600nw-2198773865.jpg" alt="qwewqe">

    <h1 class="display-4">Bienvenido</h1>
    
</div>
